/* ::::: Primary ::::: */

:root {
  --max-distance: 62.5rem;
}

html {
  color: var(--color-primary);
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a, a:visited, a:active {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

hr {
  border: 1px solid var(--color-primary);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  color: var(--color-primary);
  font-size: 20.5pt;
  margin-bottom: 4px;
}

.mono {
  font-family: monospace;
}

/* ::::: Content: Box Layout ::::: */

.content-layout {
  position: relative;
  margin: auto;
  padding: 10px;
  max-width: var(--max-distance);
}

section {
  margin: 1em;
}

noscript,
section.fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

/* ::::: Content: Page ::::: */

#section-loader, #section-primary {
  transition: opacity 300ms ease-in;
}

#section-loader {
  opacity: 1;
}

#section-primary {
  opacity: 0;
}

body[data-loaded="true"] #section-loader {
  opacity: 0;
}

body[data-loaded="true"] #section-primary {
  opacity: 1;
}

/* ::::: Navigation ::::: */

#page-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ::::: Table ::::: */

table {
  background-color: #000000;
  border: 1px solid var(--color-primary);
  width: 100%;
}

th, td {
  border: 1px solid var(--color-primary);
  width: 50%;
  padding: 0.5em;
}

th {
  background-color: var(--color-accent);
}

/* ::::: Buttons ::::: */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button > .button-icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.button,
.button:visited,
.button:active,
.button:hover {
  color: var(--color-accent);
  text-decoration: none;
}

/* ::::: Lists ::::: */

.list {
  margin: 1em 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  text-decoration: none;
}

.list-item,
.list-item:visited,
.list-item:active,
.list-item:not([href]):hover {
  color: #000000;
}

.list-item > .list-item-body {
  display: flex;
}

.list-item > .list-item-body .list-item-icon {
  margin-right: 1em;
  width: 32px;
  height: 32px;
}

.list-item > .list-item-body .list-item-title {
  font-size: 1.1em;
  font-weight: bold;
}

.list-item > .list-item-body .list-item-title,
.list-item > .list-item-body .list-item-desc {
  margin-right: 1em;
}

.list-item > .button {
  flex: 120px 0 0;
  width: auto;
}

.list-item .badge {
  background-color: var(--color-primary);
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  margin: 0 5px;
  padding: 3px 6px;
  text-transform: uppercase;
  vertical-align: 3px;
}

.list-item .badge.prerelease {
  background-color: #75600b;
}

@media screen and (max-width: 425px) {
  .list-item {
    flex-direction: column;
  }
  .list-item > .button {
    margin-top: 1em;
    flex: 21px 0 0;
  }
  .list-item > .list-item-body .list-item-title,
  .list-item > .list-item-body .list-item-desc {
    margin-right: 0;
  }
}

/* ::::: Page: Individual Add-on ::::: */

#addon {
  display: flex;
  margin-right: 1em;
}

#addon > #addon-icon {
  margin-right: 1em;
  object-fit: scale-down;
}

#addon > #addon-detail > div:not(:last-child) {
  margin-bottom: 0.5em;
}

.addon-artifacts {
  margin-top: 12px;
  font-size: 0.9em;
}

.island:not(:last-child) {
  margin-bottom: 1em;
}

.two-col {
  display: flex;
  justify-content: space-between;
}

.two-col > .col-primary {
  flex: 1;
  margin-right: 1em;
}

.two-col > .col-secondary {
  flex: 280px 0 0;
}

.two-col > .col-secondary > div:not(:first-child) {
  margin-top: 1em;
}

.two-col > .col-secondary > .col-inner {
  position: sticky;
  top: 1em;
}

@media screen and (max-width: 768px) {
  .two-col {
    flex-direction: column;
  }
  .two-col > .col-primary {
    margin-right: 0;
  }
}
