/* ::::: Primary ::::: */

:root {
  --color-primary: #0B3775;
  --color-accent: #000000;
  --link-color: #163665;
  --link-hover-color: #C01314;
  --page-font: "Museo Sans 500", "Helvetica", "Segoe UI", "Roboto", sans-serif;
  --max-distance: 62.5rem;
  --radius: 9px;
}

html {
  font-family: var(--page-font);
  color: var(--color-primary);
  background-color: #7A98B5;
  background-image: linear-gradient(to bottom, #7598B9 0%, #A3B5CB 70%, #AFAABD 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a, a:visited, a:active {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

hr {
  border: 1px solid var(--color-primary);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  color: var(--color-primary);
  font-size: 20.5pt;
  margin-bottom: 4px;
}

footer {
  color: #666666;
  text-align: center;
  line-height: 13px;
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 9px;
}

.mono {
  font-family: monospace;
}

/* ::::: Content: Box Layout ::::: */

.content-layout {
  position: relative;
  margin: auto;
  padding: 10px;
  max-width: var(--max-distance);
}

.box {
  box-shadow: 2px 2px 8px #333333;
  border-radius: var(--radius);
  padding: 3px;
  background-color: #F9F9F9;
  color: black;
}

.box-inner {
  padding: 17px 9px 9px 9px;
}

section {
  margin: 1em;
}

noscript,
section.fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

/* ::::: Content: Page ::::: */

#section-loader, #section-primary {
  transition: opacity 300ms ease-in;
}

#section-loader {
  opacity: 1;
}

#section-primary {
  opacity: 0;
}

body[data-loaded="true"] #section-loader {
  opacity: 0;
}

body[data-loaded="true"] #section-primary {
  opacity: 1;
}

#page-header {
  font-size: 1.5em;
  color: var(--color-primary);
  background: #9FB3CB;
  border-radius: var(--radius) var(--radius) 0 0;
  padding: 1em;
}

/* ::::: Navigation ::::: */

#page-nav {
  background: #5272A1;
}

#page-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

#page-nav ul > li a {
  display: block;
  padding: 7px 1em;
  color: #ffffff;
  font-size: 11.5pt;
  text-decoration: none;
}

#page-nav ul > li a:focus,
#page-nav ul > li a:hover {
  background-color: #024B97;
}

/* ::::: Table ::::: */

table {
  background-color: #000000;
  border: 1px solid var(--color-primary);
  width: 100%;
}

th, td {
  border: 1px solid var(--color-primary);
  width: 50%;
  padding: 0.5em;
}

th {
  background-color: var(--color-accent);
}

/* ::::: Buttons ::::: */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #009900;
  border-radius: 9px;
  background-color: #99FF99;
  width: 120px;
  height: 21px;
  padding: 14px;
}

.button > .button-icon {
  margin-right: 8px;
}

.button,
.button:visited,
.button:active,
.button:hover {
  color: var(--color-accent);
  text-decoration: none;
}

.button.download {
  border: 1px solid #0099FF;
  background-color: #99CCFF;
}

/* ::::: Lists ::::: */

.list {
  margin: 1em 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  text-decoration: none;
}

.list-item,
.list-item:visited,
.list-item:active,
.list-item:not([href]):hover {
  color: #000000;
}

.list-item[href]:hover {
  color: var(--link-color);
}

.list-item:nth-child(odd) {
  background: linear-gradient(to right, #F0F0F0 50%, transparent 100%);
}

.list-item > .list-item-body {
  display: flex;
}

.list-item > .list-item-body .list-item-icon {
  margin-right: 1em;
  width: 32px;
  height: 32px;
}

.list-item > .list-item-body .list-item-title {
  font-size: 1.1em;
  font-weight: bold;
}

.list-item > .list-item-body .list-item-title,
.list-item > .list-item-body .list-item-desc {
  margin-right: 1em;
}

.list-item > .button {
  flex: 120px 0 0;
  width: auto;
}

.list-item .badge {
  background-color: var(--color-primary);
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  margin: 0 5px;
  padding: 3px 6px;
  text-transform: uppercase;
  vertical-align: 3px;
}

.list-item .badge.prerelease {
  background-color: #75600b;
}

@media screen and (max-width: 425px) {
  .list-item {
    flex-direction: column;
  }
  .list-item > .button {
    margin-top: 1em;
    flex: 21px 0 0;
  }
  .list-item > .list-item-body .list-item-title,
  .list-item > .list-item-body .list-item-desc {
    margin-right: 0;
  }
}

/* ::::: Page: Individual Add-on ::::: */

#addon {
  display: flex;
  margin-right: 1em;
}

#addon > #addon-icon {
  margin-right: 1em;
  object-fit: scale-down;
}

#addon > #addon-detail > div:not(:last-child) {
  margin-bottom: 0.5em;
}

.addon-artifacts {
  margin-top: 12px;
  font-size: 0.9em;
}

.island:not(:last-child) {
  margin-bottom: 1em;
}

.two-col {
  display: flex;
  justify-content: space-between;
}

.two-col > .col-primary {
  flex: 1;
  margin-right: 1em;
}

.two-col > .col-secondary {
  flex: 280px 0 0;
}

.two-col > .col-secondary > div:not(:first-child) {
  margin-top: 1em;
}

.two-col > .col-secondary > .col-inner {
  position: sticky;
  top: 1em;
}

@media screen and (max-width: 768px) {
  .two-col {
    flex-direction: column;
  }
  .two-col > .col-primary {
    margin-right: 0;
  }
}


/* ::::: Web Fonts ::::: */

/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at https://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2022 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: https://www.fontspring.com/licenses/exljbris/webfont
 *
 *
 */

@font-face {
    font-family: 'Museo Slab 500';
    src: url('fonts/museoslab_500.woff2') format('woff2'),
         url('fonts/museoslab_500.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Slab 500';
    src: url('fonts/museoslab_italic_500.woff2') format('woff2'),
         url('fonts/museoslab_italic_500.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}